<strong>Olá, {{ student }}</strong>
<p>Você recebeu uma resposta para a sua solicitação de ajuda no dia {{ answerAt }}.</p>
<p><b>Pergunta:</b> {{ question }}</p>
<p><b>Resposta:</b> {{ answer }}</p>
<p>
  <small>
    Qualquer dúvida entre em contato com a nossa equipe.
  </small>
</p>
